body {
  background: #f9f9f9;
}

main {
  padding-top: 80px;
  margin-left: 36px;
  max-width: 853px;
}

header {
  background: white;
  width: 100%;
  text-align: center;
}

header div {
  display: inline-block;
  line-height: 56px;
  height: 56px;
  vertical-align: middle;
}

.fixed {
  position: fixed;
  top: 0;
}

.navbar-left {
  float: left;
}

.navbar-left img {
  margin-left: 23px;
  vertical-align: middle;
}

.searchbar {
  margin-top: 12px;
  display: inline-flex;
  height: 32px;
  width: 575px;
  border: 1px solid #dfe1e5;
}

.navbar-right {
  float: right;
}

.navbar-right img {
  margin-right: 27px;
  vertical-align: middle;
}

.information {
  padding-top: 20px;
}

.details {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #bdbdbd;
}

.details div {
  height: 40px;
  line-height: 40px;
}
.details-left {
  float: left;
  vertical-align: middle;
}

.details-right {
  float: right;
  vertical-align: middle;
}

.details-right h3 {
  display: inline-block;
  color: #606060;
  font-size: 13px;
  font-weight: 500;
  vertical-align: middle;
  cursor: pointer;
}

.details-right img {
  display: inline-block;
  max-height: 13px;
  padding-left: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.channel-info {
  padding-top: 25px;
}

.channel-left {
  float: left;
  margin-left: 10px;
  vertical-align: middle;
}

.channel-right {
  float: right;
  vertical-align: middle;
}

.video-description {
  display: block;
  padding-top: 20px;
  padding-left: 60px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #bdbdbd;
}

.video-description p {
  font-size: 14px;
}

.video-description a {
  color: #065fd4;
  text-decoration-line: none;
}

.comments-top {
  padding-top: 24px;
}

.comments-top p {
  display: inline-block;
}

.comment-info {
  display: inline-block;
  margin-top: 8px;
  margin-left: 8px;
  max-width: 80%;
}

.comment {
  margin: 16px 0;
}
.comment-buttons-container {
  margin-left: 53px;
  margin-top: 8px;
  cursor: pointer;
}
.comment-buttons-container img {
  height: 15px;
  vertical-align: middle;
}
.comment-buttons-container a {
  margin-left: 5px;
  margin-right: 8px;
  font-size: 12px;
  color: #606060;
  vertical-align: middle;
}

#like-dislike-button {
  max-height: 15px;
}

#hamburger-menu {
  opacity: 0.65;
  height: 18px;
}

#youtube-logo {
  width: 80px;
}

#searchbox {
  outline: none;
  border: none;
  width: 575px;
  font-size: 16px;
}

#searchbox:focus {
  border: 1px solid turquoise;
}

#searchbutton {
  cursor: pointer;
  width: 65px;
  height: 32px;
  border: 1px solid #d3d3d3;
  background-color: #f8f8f8;
  border-radius: 0 2px 2px 0;
}

#searchbutton img {
  height: 13px;
  opacity: 0.55;
}

#searchbutton:hover {
  background-color: #e2e2e2;
  opacity: 1;
}

#create-video-icon {
  opacity: 0.65;
  height: 18px;
}

#apps-icon {
  opacity: 0.65;
  height: 17px;
}

#bell-icon {
  opacity: 0.65;
  height: 25px;
  vertical-align: middle;
}

#user-icon {
  height: 32px;
  border-radius: 50%;
}

#video-title {
  font-size: 17px;
  font-weight: 400;
}

#views-and-date {
  max-height: 2.1rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 2.1rem;
  color: #606060;
}

#more-button {
  opacity: 0.5;
  margin-right: 12px;
}

#more-button:hover {
  opacity: 0.85;
}

#channel-icon {
  float: left;
  margin-top: -10px;
  vertical-align: middle;
}

#channel-name {
  color: black;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-decoration-line: none;
  vertical-align: middle;
}

#subscriber-count {
  color: #606060;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
}

#subscribe-button {
  line-height: 30px;
  color: #606060;
  background: #d3d3d3;
  border: none;
  outline: none;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}

#show-more {
  outline: none;
  border: none;
  background: none;
  color: #606060;
  padding: 15px 0;
  cursor: pointer;
}

#sort-button {
  display: inline-block;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: #606060;
  font-weight: bold;
}

#sort-button img {
  opacity: 0.55;
  height: 12px;
  padding-left: 18px;
  padding-right: 13px;
}

#commenter-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

#commenter {
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

#comment-date {
  display: inline-block;
  color: #606060;
  font-size: 13px;
}

#comment {
  display: block;
  font-size: 14px;
  font-weight: 400px;
  padding-top: 8px;
  overflow-wrap: break-word;
}

#comment a {
  color: #065fd4;
  text-decoration-line: none;
}

#reply-button {
  background: none;
  outline: none;
  border: none;
  color: #606060;
  font-weight: bold;
  cursor: pointer;
}

#view-reply-button {
  outline: none;
  border: none;
  background: none;
  display: block;
  color: #62c9ed;
  margin-top: 8px;
  cursor: pointer;
}

#view-reply-button img {
  height: 7px;
}
